# Node-related
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Vite output
dist

# Git
.git
.gitignore

# Docker artifacts
*.tar

# OS/system
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea

# Env files (optional, depending on your app)
.env
.env.local
